.btn_to_save {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 48px 0px 37px 0px;
    padding: 14px auto auto auto;
    width: 350px;
    height:50px;
    background: #000000;
    border: 0;
    border-radius: 2px;
}
@media screen and (max-width:480px) {
    .btn_to_save {
        margin:  45px 0px 25px 0px;
        padding: auto auto;
        width: 230px;
        height: 48px;
    }
}