.profile {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding: 40px 200px 0px 200px;
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 120px;
    grid-template-rows: 120px;
    -ms-grid-columns: 120px 336px 1fr;
    grid-template-columns: 120px 336px 1fr;
    column-gap: 30px;
}
@media screen and (max-width:1072px) {
    .profile {
        padding: 40px 10% 0px 10%;
    } 
}
@media screen and (max-width: 864px) {
    .profile {
        padding: 42px 16% 0px 16%;
        grid-template-columns: 120px 336;
        grid-template-rows: 120px 1fr;
    }
}
@media screen and (max-width: 684px) {
    .profile {
        padding: 42px 16% 0px 16%;
        grid-template-columns: 1fr;
        grid-template-rows: 120px auto auto auto;
        align-items: center;
    }
}
@media screen and (max-width: 480px) {
    .profile {
        padding: 42px 19px 0px 19px;
    }
}