.header {
    margin: 0;
    box-sizing: content-box;
    padding: 0px 200px;
} 
@media screen and (max-width: 1072px) {
    .header {
        padding: 0px 16%;
    }
}
@media screen and (max-width: 684px) {
    .header {
        padding: 0;
    }
}