.header {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 45px 200px 0px 200px;
    width: 100%;
    height: auto;
} 
@media screen and (max-width: 1072px) {
    .header {
        padding: 45px 10% 0px 10%;
    }
}
@media screen and (max-width: 684px) {
    .header {
        padding: 28px 0px 0px 0px;
    }
}