.profile__add-button {
    margin: 35px 0px 35px 0px;
    padding: 0;
    background-color: black;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    -ms-grid-column-align:end;
        justify-self:end;
}
@media screen and (max-width: 864px) {
    .profile__add-button {
        margin: 36px 0px 36px 0px;
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: center;
    }
}
@media screen and (max-width: 684px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
    }
}