.elements {
    padding: 51px 200px 0px 200px;
    height: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 22px;
}

@media screen and (max-width:1072px) {
    .elements {
        padding: 51px 16% 0px 16%;
    } 
}
@media screen and (max-width: 864px) {
    .elements {
        padding: 51px 16% 0px 16%;
        display:grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        column-gap: 17px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 484px) {
    .elements {
        margin: 0 auto;
        padding: 36px 19px 0px 19px;
        grid-template: repeat(6, 1fr) / 1fr;
        column-gap: 0;
        row-gap: 19px;
        justify-items: center;
    }
}
