.element {
    margin: 0;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:  864px) {
    .element {
        margin: 0 auto;
    }
}